*{
    padding: 0px;
    margin: 0px;
}
body{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__name{
font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    padding-top: 10px;
}
.section-one__contact{
    display: inline-block;
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five
{
    margin-top: 20px;
}
.section-two__details,.section-three__list,.section-four__descrp,.section-five__contact
{
    margin-top: 20px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__contact a{
    color: skyblue;
}
.section-three__list,.section-four__decrp{
    list-style: none;
}
.section-three{
    background-color: #6462fd;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
    height: 200px;

}
.section-four{
    background-color:orangered;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
    height: 200px;
}
.contact-form{
    margin-top: 20px;
}

.contact-form__input, .contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom:black solid 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border-bottom:black solid 1px;
}
.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:goldenrod;
    color: black;
}